<div class="admin-panel-wrap">
  <div class="admin-panel">
    <h1>User Admin Panel</h1>

    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Email Address</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <div class="button-wrap">
              <td><%= link_to 'Show User Profile', user, class: "button" %></td>
              <td><%= link_to '🔨BANHAMMER 🔨', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "button red" %></td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
