<div class="show-wrap">

  <div class="user-title-wrap">
      <div class="user-title">
          <h1><%= @user.username %>'s Profile</h1>
          <div class="title-underline"></div>
      </div>
  </div>

  <div class="show-panel">
    <div class="field">
      <label>Username</label>
      <div class="textfield"><%= @user.username %></div>
    </div>

    <hr class="line-separator">

    <div class="field">
      <label>Address</label>
      <div class="textfield"><%= @user.address %></div>
    </div>

    <hr class="line-separator">

    <div class="field">
      <label>Email Address</label>
      <div class="textfield"><%= @user.email %></div>
    </div>

    <div class="button-wrap">
      <%= link_to 'Edit', edit_user_path(id: current_user.id), class: "button" %>
      <%= link_to 'Back', root_path, class: "button" %>
      <%= link_to 'Delete Account', user_path(id: params[:id]), method: :delete, data: { confirm: 'Are you sure?' }, class: "button red" %>
    </div>
  </div>
</div>


