<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <hr class="line-separator">

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %> 
  </div>

  <hr class="line-separator">

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <hr class="line-separator">

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <hr class="line-separator">

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="button-wrap">
    <div class="button actions">
      <%= form.submit %>
    </div>
    <%= link_to 'Back', products_path, class: "button" %>
  </div>
  
<% end %>
