<div class="show-wrap">

  <div class="show-panel">
    <p id="notice"><%= notice %></p>
    <div class="field">
      <label>Store Name</label>
      <div class="textfield"><%= @store.store_name %></div>
    </div>

    <hr class="line-separator">

    <div class="field">
      <label>Owned By</label>
      <div class="textfield"><%= @store.user_id %></div>
    </div>

    <div class="button-wrap">
      <%= link_to 'Edit', edit_store_path(user_id: Store.find_by(user_id: current_user.id)), class: "button" %>
      <%= link_to 'Delete Store', store_path(id: current_user.id), method: :delete, class: "button" %>
      <%= link_to 'Back', root_path, class: "button" %>
    </div>
  </div>
</div>

<div>
  <h1>PRODUCTS GO HERE</h1>
</div>
