<div class="show-wrap">

  <div class="show-panel">
    <div class="field">
      <label>Store Name</label>
      <div class="textfield"><%= @store.store_name %></div>
    </div>

    <hr class="line-separator">

    <div class="field">
      <label>Owned By</label>
      <div class="textfield"><%= @user.username %></div>
    </div>

    <div class="button-wrap">
      <% if current_user.id == @store.user_id %>
        <%= link_to 'Add Product', new_product_path, class: "button green"%>
        <%= link_to 'Edit', edit_store_path(user_id: Store.find_by(user_id: current_user.id)), class: "button" %>
        <%= link_to 'Delete Store', store_path(id: current_user.id), method: :delete, class: "button red" %>
      <% end %>
    </div>
  </div>
</div>

<div class="product-wrap">
  <div class="product-item-wrap">
    <% @products.each do |product| %>
      <div class="product-item">
        <%= link_to product, id: "link" do %>
        <figure class="product-preview">
          <%= image_tag product.image %>
        </figure>
        <div class="product-info">
          <h4 class="product-info-header"><b><%= product.name %></b></h4>
          <p class="product-description"><%= product.description %></p>
          <h5 class="product-category"><%= product.category %></h5>
          <p class="price"><b><span>$</span><%= product.price %></b></p>
        </div>
        <% end %>
        <hr class="line-separator">
        <div class="product-user-info">
          <a href="#"><p class="product-user"><b><%= @store.store_name %></b></p></a>
          <p class="product-user-rating">Rating Placeholder</p>
        </div>
        <% if current_user.id == @store.user_id %>
          <div class="button-wrap">
            <%= link_to 'Edit', edit_product_path(id: product.id), class: "button" %>
            <%= link_to 'Delete', product_path(id: product.id), method: :delete, class: "button red" %>
          </div>
        <% end %>  
      </div>
    <% end %>
  </div>
</div>
