<div class="show-wrap">

  <div class="show-panel">
    <div class="field">
      <label>Store Name</label>
      <div class="textfield"><%= @store.store_name %></div>
    </div>

    <hr class="line-separator">

    <div class="field">
      <label>Owned By</label>
      <div class="textfield"><%= @user.username %></div>
    </div>

    <div class="button-wrap">
      <% if current_user.id == @store.user_id %>
        <%= link_to 'Edit', edit_store_path(user_id: Store.find_by(user_id: current_user.id)), class: "button" %>
        <%= link_to 'Delete Store', store_path(id: current_user.id), method: :delete, class: "button red" %>
      <% end %>
    </div>
  </div>
</div>


<div>
  <h1>PRODUCTS GO HERE</h1>
  <% @products.each do |product| %>
    <div class="product-item">
      <figure class="product-preview">
        <%= image_tag("placeholder.png") %>
      </figure>
      <div class="product-info">
        <a href="#">
          <h4 class="product-info-header"><b><%= product.name %></b></h4>
        </a>
        <p class="product-description"><%= product.description %></p>
        <a href="#">
          <h5 class="product-category"><%= product.category %></h5>
        </a>
        <p class="price"><b><span>$</span><%= product.price %></b></p>
      </div>
      <hr class="line-separator">
      <div class="product-user-info">
        <a href="#"><p class="product-user"><b><%= product.id %></b></p></a>
        <p class="product-user-rating">Rating Placeholder</p>
      </div>
    </div>
  <% end %>
</div>
