<div class="devise-forms-wrap">  
  
  <div class="devise-title-wrap">
    <div class="form-title">
      <h1>Sign up</h1>
      <div class="title-underline"></div>
    </div>
  </div>

  <div class="new-devise-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h2>Please provide a password longer than 6 charactes in length.</h2>
    
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </div>
      
      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_field :address %>
      </div>
      
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="button-wrap">
        <div class="button actions">
          <%= f.submit "Sign up" %>
        </div>
        <%= render "devise/shared/links" %>
      </div>      
    <% end %>
    </div> 
</div>
