

<div class="product-wrap">
  <h1>Products</h1>
  <div class="product-item-wrap">
    <% @products.each do |product| %>
      <div class="product-item">
        <%= link_to product, id: "link" do %>
        <figure class="product-preview">
          <%= image_tag("placeholder.png") %>
        </figure>
        <div class="product-info">
          <h4 class="product-info-header"><b><%= product.name %></b></h4>
          <p class="product-description"><%= product.description %></p>
          <h5 class="product-category"><%= product.category %></h5>
          <p class="price"><b><span>$</span><%= product.price %></b></p>
        </div>
        <% end %>
        <hr class="line-separator">
        <div class="product-user-info">
          <a href="#"><p class="product-user"><b><%= product.id %></b></p></a>
          <p class="product-user-rating">Rating Placeholder</p>
        </div> 
      </div>
    <% end %>
  </div>
</div>
