<div class="hero-wrap">
    <div class="hero">
        <h5>Welcome to</h5>
        <h1>Itzy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
        sed do eiusmod tempor incididunt ut labore.</p>
        <div class="search-widget">
            <form class="search-widget-form">
                <%= form_for "", url: products_path, role: "search", method: :get do %>
                    <%= text_field_tag :search, @search_term, placeholder: "Search products..." %>
                <% end %>
            </form>
        </div>
    </div>
</div>

<div class="services-wrap">
    <div class="services">
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-gifts"></i>
            </div>
            <div class="service-text">
                <h3>Buy and Sell Easily</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-shield-alt"></i>
            </div>
            <div class="service-text">
                <h3>Secure Transactions</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-sort-amount-up"></i>
            </div>
            <div class="service-text">
                <h3>Review & Rating System</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-shipping-fast"></i>
            </div>
            <div class="service-text">
                <h3>Accurate Shipping Times</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>

<div class="promo-wrap">
    <div class="promo-banner primary">
        <i class="fas fa-wallet"></i>
        <h5>Make money fast!</h5>
        <h1>Start selling</h1>
        <% if !user_signed_in? %>
            <%= link_to "Sign Up!", new_user_registration_path, class: "button" %>
        <% elsif current_user.store == nil %>
            <%= link_to "Create Your Store!", new_store_path, class: "button" %>
        <% else %>
            <%= link_to "Your Store", store_path(id: current_user.store.id), class: "button" %>
        <% end %>
    </div>
    <div class="promo-banner secondary">
       <i class="fas fa-shopping-bag"></i>
        <h5>Find anything you like!</h5>
        <h1>Start buying</h1>
        <%= link_to "Products", products_path, class: "button" %>
    </div>
</div>

<div class="product-wrap">
    <div class="product-header">
        <h4>Latest Online Products</h4>
    </div>
    <div class="product-item-wrap">
        <% @products.each do |product| %>
        <div class="product-item">
            <%= link_to product, id: "link" do %>
            <figure class="product-preview">
                <%= image_tag product.image %> 
            </figure>
            <div class="product-info">
                <h4 class="product-info-header"><b><%= product.name %></b></h4>
                <p class="product-description"><%= product.description %></p>
                <h5 class="product-category"><%= product.category %></h5>
                <p class="price"><b><span>$</span><%= product.price %></b></p>
            </div>
            <% end %>
            <hr class="line-separator">
            <div class="product-user-info">
            <%= link_to store_path(id: product.store.id) do %>
                <p class="product-user"><b><%= product.store_name %></b></p>
            <% end %>
            <p class="product-user-rating">Rating Placeholder</p>
            </div>
            <% if !user_signed_in? %>
            <% elsif current_user.id != product.store.id %>
                <div class="button-wrap">
                    <%= link_to 'Add to Cart', new_product_order_path, class: "button green" %> 
                </div>
            <% elsif current_user.id == product.store.user_id %>
                <div class="button-wrap">
                    <%= link_to 'Edit', edit_product_path(id: product.id), class: "button" %>
                    <%= link_to 'Delete', product_path(id: product.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "button red" %>
                </div>
             <% end %>
            </div>
        <% end %>
        </div>
    </div>
</div>