<div class="hero-wrap">
    <div class="hero">
        <h5>Welcome to</h5>
        <h1>Itzy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
        sed do eiusmod tempor incididunt ut labore.</p>
        <div class="search-widget">
            <form class="search-widget-form">
				<input type="text" name="category_name" placeholder="This is a placeholder search form">
                <button class="button">Search Now!</button>
            </form>
        </div>
    </div>
</div>

<div class="services-wrap">
    <div class="services">
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-gifts"></i>
            </div>
            <div class="service-text">
                <h3>Buy and Sell Easily</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-shield-alt"></i>
            </div>
            <div class="service-text">
                <h3>Secure Transactions</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-sort-amount-up"></i>
            </div>
            <div class="service-text">
                <h3>Review & Rating System</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
                <i class="fas fa-shipping-fast"></i>
            </div>
            <div class="service-text">
                <h3>Accurate Shipping Times</h3>
                <p>Lorem ipsum dolor sit amet, consectetur sicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>

<div class="promo-wrap">
    <div class="promo-banner primary">
        <i class="fas fa-wallet"></i>
        <h5>Make money fast!</h5>
        <h1>Start selling</h1>
        <a href="#" class="button">Open Your Shop!</a>
    </div>
    <div class="promo-banner secondary">
       <i class="fas fa-shopping-bag"></i>
        <h5>Find anything you like!</h5>
        <h1>Start buying</h1>
        <a href="#" class="button">Register Now!</a>
    </div>
</div>

<div class="product-wrap">
    <div class="product-header">
        <h4>Latest Online Products</h4>
    </div>
    <div class="product-item-wrap">
        <div class="product-item">
            <figure class="product-preview">
                <%= image_tag("placeholder.png")%>
            </figure>
            <div class="product-info">
                <a href="#">
                    <h4 class="product-info-header"><b><%= Product.last(10)[9][:name] %></b></h4>
                </a>
                <p class="product-description"><%= Product.last(10)[9][:description] %></p>
                <a href="#">
                    <h5 class="product-category"><%= Product.last(10)[9][:category] %></h5>
                </a>
                <p class="price"><b><span>$</span><%= Product.last(10)[9][:price] %></b></p>
            </div>
            <hr class="line-separator">
            <div class="product-user-info">
                <a href="#"><b><p class="product-user"><%= Product.last(10)[9].store.store_name  %></p></b></a>
                <p class="product-user-rating">Rating Placeholder</p>
            </div>
        </div>
        <div class="product-item">
            <figure class="product-preview">
                <%= image_tag("placeholder.png")%>
            </figure>
            <div class="product-info">
                <a href="#">
                    <h4 class="product-info-header"><b><%= Product.last(10)[8][:name] %></b></h4>
                </a>
                <p class="product-description"><%= Product.last(10)[8][:description] %></p>
                <a href="#">
                    <h5 class="product-category"><%= Product.last(10)[8][:category] %></h5>
                </a>
                <p class="price"><b><span>$</span><%= Product.last(10)[8][:price] %></b></p>
            </div>
            <hr class="line-separator">
            <div class="product-user-info">
                <a href="#"><b><p class="product-user"><%= Product.last(10)[8].store.store_name  %></p></b></a>
                <p class="product-user-rating">Rating Placeholder</p>
            </div>
        </div>
        <div class="product-item">
            <figure class="product-preview">
                <%= image_tag("placeholder.png")%>
            </figure>
            <div class="product-info">
                <a href="#">
                    <h4 class="product-info-header"><b><%= Product.last(10)[7][:name] %></b></h4>
                </a>
                <p class="product-description"><%= Product.last(10)[7][:description] %></p>
                <a href="#">
                    <h5 class="product-category"><%= Product.last(10)[7][:category] %></h5>
                </a>
                <p class="price"><b><span>$</span><%= Product.last(10)[7][:price] %></b></p>
            </div>
            <hr class="line-separator">
            <div class="product-user-info">
                <a href="#"><b><p class="product-user"><%= Product.last(10)[7].store.store_name  %></p></b></a>
                <p class="product-user-rating">Rating Placeholder</p>
            </div>
        </div>
        <div id="item-4" class="product-item">
            <figure class="product-preview">
                <%= image_tag("placeholder.png")%>
            </figure>
            <div class="product-info">
                <a href="#">
                    <h4 class="product-info-header"><b><%= Product.last(10)[6][:name] %></b></h4>
                </a>
                <p class="product-description"><%= Product.last(10)[6][:description] %></p>
                <a href="#">
                    <h5 class="product-category"><%= Product.last(10)[6][:category] %></h5>
                </a>
                <p class="price"><b><span>$</span><%= Product.last(10)[6][:price] %></b></p>
            </div>
            <hr class="line-separator">
            <div class="product-user-info">
                <a href="#"><b><p class="product-user"><%= Product.last(10)[6].store.store_name  %></p></b></a>
                <p class="product-user-rating">Rating Placeholder</p>
            </div>
        </div>
        <div id="item-5" class="product-item">
            <figure class="product-preview">
                <%= image_tag("placeholder.png")%>
            </figure>
            <div class="product-info">
                <a href="#">
                    <h4 class="product-info-header"><b><%= Product.last(10)[5][:name] %></b></h4>
                </a>
                <p class="product-description"><%= Product.last(10)[5][:description] %></p>
                <a href="#">
                    <h5 class="product-category"><%= Product.last(10)[5][:category] %></h5>
                </a>
                <p class="price"><b><span>$</span><%= Product.last(10)[5][:price] %></b></p>
            </div>
            <hr class="line-separator">
            <div class="product-user-info">
                <a href="#"><b><p class="product-user"><%= Product.last(10)[5].store.store_name  %></p></b></a>
                <p class="product-user-rating">Rating Placeholder</p>
            </div>
        </div>
        <div id="item-6" class="product-item">
            <figure class="product-preview">
                <%= image_tag("placeholder.png")%>
            </figure>
            <div class="product-info">
                <a href="#">
                    <h4 class="product-info-header"><b><%= Product.last(10)[4][:name] %></b></h4>
                </a>
                <p class="product-description"><%= Product.last(10)[4][:description] %></p>
                <a href="#">
                    <h5 class="product-category"><%= Product.last(10)[4][:category] %></h5>
                </a>
                <p class="price"><b><span>$</span><%= Product.last(10)[4][:price] %></b></p>
            </div>
            <hr class="line-separator">
            <div class="product-user-info">
                <a href="#"><b><p class="product-user"><%= Product.last(10)[4].store.store_name %></p></b></a>
                <p class="product-user-rating">Rating Placeholder</p>
            </div>
        </div>
        <div id="item-7" class="product-item">
            <figure class="product-preview">
                <%= image_tag("placeholder.png")%>
            </figure>
            <div class="product-info">
                <a href="#">
                    <h4 class="product-info-header"><b><%= Product.last(10)[3][:name] %></b></h4>
                </a>
                <p class="product-description"><%= Product.last(10)[3][:description] %></p>
                <a href="#">
                    <h5 class="product-category"><%= Product.last(10)[3][:category] %></h5>
                </a>
                <p class="price"><b><span>$</span><%= Product.last(10)[3][:price] %></b></p>
            </div>
            <hr class="line-separator">
            <div class="product-user-info">
                <a href="#"><b><p class="product-user"><%= Product.last(10)[3].store.store_name %></p></b></a>
                <p class="product-user-rating">Rating Placeholder</p>
            </div>
        </div>
        <div id="item-8" class="product-item">
            <figure class="product-preview">
                <%= image_tag("placeholder.png")%>
            </figure>
            <div class="product-info">
                <a href="#">
                    <h4 class="product-info-header"><b><%= Product.last(10)[2][:name] %></b></h4>
                </a>
                <p class="product-description"><%= Product.last(10)[2][:description] %></p>
                <a href="#">
                    <h5 class="product-category"><%= Product.last(10)[2][:category] %></h5>
                </a>
                <p class="price"><b><span>$</span><%= Product.last(10)[2][:price] %></b></p>
            </div>
            <hr class="line-separator">
            <div class="product-user-info">
                <a href="#"><b><p class="product-user"><%= Product.last(10)[2].store.store_name  %></p></b></a>
                <p class="product-user-rating">Rating Placeholder</p>
            </div>
        </div>
        <div id="item-9" class="product-item">
            <figure class="product-preview">
                <%= image_tag("placeholder.png")%>
            </figure>
            <div class="product-info">
                <a href="#">
                    <h4 class="product-info-header"><b><%= Product.last(10)[1][:name] %></b></h4>
                </a>
                <p class="product-description"><%= Product.last(10)[1][:description] %></p>
                <a href="#">
                    <h5 class="product-category"><%= Product.last(10)[1][:category] %></h5>
                </a>
                <p class="price"><b><span>$</span><%= Product.last(10)[1][:price] %></b></p>
            </div>
            <hr class="line-separator">
            <div class="product-user-info">
                <a href="#"><b><p class="product-user"><%= Product.last(10)[1].store.store_name  %></p></b></a>
                <p class="product-user-rating">Rating Placeholder</p>
            </div>
        </div>
        <div id="item-10" class="product-item">
            <figure class="product-preview">
                <%= image_tag("placeholder.png")%>
            </figure>
            <div class="product-info">
                <a href="#">
                    <h4 class="product-info-header"><b><%= Product.last(10)[0][:name] %></b></h4>
                </a>
                <p class="product-description"><%= Product.last(10)[0][:description] %></p>
                <a href="#">
                    <h5 class="product-category"><%= Product.last(10)[0][:category] %></h5>
                </a>
                <p class="price"><b><span>$</span><%= Product.last(10)[0][:price] %></b></p>
            </div>
            <hr class="line-separator">
            <div class="product-user-info">
                <a href="#"><b><p class="product-user"><%= Product.last(10)[0].store.store_name %></p></b></a>
                <p class="product-user-rating">Rating Placeholder</p>
            </div>
        </div>
    </div>
</div>