<!DOCTYPE html>
<html>
  <head>
    <title>DefinitelyNotEtsy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Font import -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- Calling in the Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>

    <div class="nav-wrapper">
        <header>
            <div class="nav-toggle-left" onclick="toggleLeft()">
              <i class="fas fa-bars"></i>
            </div>
            <nav class="nav-left">
                <div class="nav-link-left">Home</div>
                <div class="nav-link-left">Become a Seller</div>
                <div class="nav-link-left">Products</div>
            </nav>
            <div class="logo">
                <i class="fas fa-store"></i>
            </div>
            <div class="nav-toggle-right" onclick="toggleRight()">
              <i class="far fa-user"></i>
            </div>
            <div class="cart">
              <a class="">
            <nav class="nav-right">
                <span class="icon-user"></span>
                <div id="profile" class="nav-link-right">Profile</div>
                <div class="nav-link-right">Your Cart</div>
                <div class="nav-link-right">Order History</div>
            </nav>
        </header>
    </div>

    <%= yield %>


  </body>
</html>
