<!DOCTYPE html>
<html>
  <head>
    <title>DefinitelyNotEtsy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Font import -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- Calling in the Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>

    <div class="nav-wrapper">
        <header>
            <div class="nav-toggle-left" onclick="toggleLeft()">
              <i class="fas fa-bars"></i>
            </div>
            <nav class="nav-left">
              <div class="nav-link-left"><a href='/'>Home</div>
              <div class="nav-link-left"><a href='/stores/new'>Become a Seller</a></div>
              <div class="nav-link-left"><a href='/products'>Products</a></div>
            </nav>
            <div class="logo">
              <a href="/"><i class="fas fa-store"></i></a>
            </div>
            <div class="nav-toggle-right" onclick="toggleRight()">
              <i class="far fa-user"></i>
            </div>
            <div class="cart">
              <a class=""></a>
            </div>
            <nav class="nav-right">
              <span class="icon-user"></span>
              <div id="profile" class="nav-link-right">Profile</div>
              <div class="nav-link-right">Your Cart</div>
              <div class="nav-link-right"><a href='/product_orders'>Your Orders</a></div>
            </nav>
        </header>
    </div>

    <%= yield %>

    <footer>
      <div class="footer-wrap">
          <div class="company-info">
            <figure>
              <i class="fas fa-store"><h4>Itzy</h4></i>
            </figure>
            <p>
              Lorem ipsum dolor sit amet, consectetur isicing elit, sed do eiusmod tempor 
              incididunt ut labo dolore magna ua.
            </p>
            <ul class="company-info-list">
              <li class="company-info-item">
                <i class="fas fa-shopping-basket"></i>
                <p>
                  <span>30,000</span>
                  Products
                </p>
              </li>
              <li class="company-info-item">
                <i class="far fa-user"></i>
                <p>
                  <span>75,000</span>
                  Users
                </p>
              </li>
              <li class="company-info-item">
                <i class="fas fa-store-alt"></i>
                <p>
                  <span>10,000</span>
                  Stores
                </p>
              </li>
            </ul>
          </div>
          <div class="footer-links-wrap">
            <div class="footer-links">
              <p class="foot-links-title">Account</p>
              <ul class="link-list">
                <li>
                  <div class="bullet"></div>
                  <a href="#">Sign-up</a>
                </li>
                <li>
                  <div class="bullet"></div>
                  <a href="#">Sign-in</a>
                </li>
              </ul>
            </div>
            <div class="footer-links">
              <p class="foot-links-title">Help & FAQ</p>
              <ul class="link-list">
                <li>
                  <div class="bullet"></div>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <div class="bullet"></div>
                  <a href="#">Help Centre</a>
                </li>
              </ul>
            </div>
            <div class="footer-links">
              <p class="foot-links-title">Shipping & Returns</p>
              <ul class="link-list">
                <li>
                  <div class="bullet"></div>
                  <a href="#">Shipping</a>
                </li>
              </ul>
            </div>
            <div class="footer-links">
              <p class="foot-links-title">Store</p>
              <ul class="link-list">
                <li>
                  <div class="bullet"></div>
                  <a href="#">Products</a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </footer>

  </body>
</html>
